h1 {
    font-size: 42px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.seeAll {
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #096A61;
    text-decoration: none;
}

a:hover {
    font-weight: 600;
    color: #20c7b6;

}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 26px;
    }
}