.radious {
    border: 2px solid rgb(222, 220, 220);
    border-radius: 20px;
}

.body {
    background-color: #90d4cd;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.card-title {
    font-size: 1rem;
}

.p-1 {
    padding: 0.33rem !important;
}